body.index{
    display: flex;
    align-items: center;
    height: 100vh;
}

body{
    width: 90%;
    margin: 0 auto;
}

.contenedor_formulario{
    width: 30%;
    margin: 0 auto;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px #48529944;
}

#login{
    padding: 20px;
}

.btn-login{
    margin-top: 10px;
}

input[type="text"], input[type="password"]{
    width: 100%;
    
}

.navegacion{
    width: 70%;
    float: left;
    margin: 10px auto;
}

.informacion{
    width: 20%;
    float: left;
    margin-top: 10px;
}

.menu_superior{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.menu_superior li a{
    text-decoration: none;
    color: #000;
}

.menu_superior li a:hover{
    font-weight: bold;
}

.container{
    padding-bottom: 50px;
    float: left;
}

a i{
    color: #000;
}

.filtro{
    float: left;
    width: 50%;
}

.filtro input{
    width: 50%;
}

.bi-arrow-down-circle-fill, .bi-arrow-up-circle-fill{
    display: none;
}

#cabecera_nombre:hover{
    cursor: pointer;
}

.add_empresa{
    float: right;
}

.bi-plus-circle{
    color: white;
}

 #editar_empresa select, #editar_empresa label{
    margin-top: 20px;
}

#editar_empresa label{
    margin-right: 10px;
}
#editar_empresa input{
    margin-top: 10px;
}