body.index{
    display: flex;
    align-items: center;
    height: 100vh;
}

body{
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    font-weight: bold;
    color: #000;
}

header{
    position: fixed;
    margin-bottom: 100px;
    top: 0;
    height: 50px;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.title{
    text-align: center;
    margin: 30px auto;
}
.contenedor_formulario{
    width: 30%;
    margin: 0 auto;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px #48529944;
}

#login{
    padding: 20px;
}

.btn-login{
    margin-top: 10px;
}

input[type="text"], input[type="password"]{
    width: 100%;
    
}

.navegacion{
    width: 70%;
    float: left;
    margin: 10px auto;
}

.informacion{
    width: 20%;
    float: left;
    margin-top: 10px;
}

.menu_superior{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.menu_superior li a{
    text-decoration: none;
    color: #000;
}

.menu_superior li a:hover{
    font-weight: bold;
}

.container{
    padding: 50px 0;
    margin-top: 20px;
    float: left;
}

a i{
    color: #000;
}

.filtro{
    float: left;
    width: 50%;
}

.filtro input{
    width: 50%;
}

.bi-arrow-down-circle-fill, .bi-arrow-up-circle-fill{
    display: none;
}

#cabecera_nombre:hover{
    cursor: pointer;
}

.add_empresa, .add_alumno{
    float: right;
}

.bi-plus-circle{
    color: white;
}

 #editar_empresa select, #editar_empresa label{
    margin-top: 20px;
}

#editar_alumno label{
    margin-top: 20px;
    margin-right: 10px;
    width: 250px;
}

#editar_alumno select{

 margin-top: 10px;
}

#editar_empresa input, #editar_alumno input{
    margin-top: 10px;
}

#add_empresa select, #add_empresa label{
    margin-top: 20px;
}

#add_empresa label{
    margin-right: 10px;
    width: 250px;
}
#add_empresa input{
    margin-top: 10px;
}

.incidencia_title{
    display: inline;
}

.add_incidencia{
    float: right;
}

#fechas_practicas{
    display: flex;
}
